<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../TiendaOnline.js"></script>
    
    <style>
    	.strike{ text-decoration: line-through; }
    </style>
</head>

<body>

	<h1>Editar Pedido</h1>

	<hr>
	Titulo:
	<form id="SalvarPedido" action="/Salvar" method="get">
	<input type="hidden" id="id" name="id" value="{{pedido.id}}">
	<input type="text" id="titulo-text-input" name="titulo" value="{{pedido.titulo}}">
	<input type="hidden" id="elementosJson" name="elementosJson">

	<hr>
	<h2 id='ListaElementosHeader'>Elementos del pedido</h2>
	<p id=ListaElementosText></p>

<ul id='ListaElementos'>
	{{#pedido.elementos}}
		<li id='{{id}}'>
			<input type=checkbox {{#strike}}checked{{/strike}} onchange='strikeInputText({{id}})'>
			<button type=button id='deleteElementButton' onclick='removeLi({{id}})'>Borrar Elemento</button>
			<input type=text value="{{texto}}" id='{{id}}' onblur='refreshInputElementos()'>
			{{#strike}}
				<script>strikeInputText({{id}});</script>
			{{/strike}}
		</li>
	{{/pedido.elementos}}
</ul>

	<br>
	<input id="element-text-input" type="text">
	<button id="add-element-button" type="button">Añadir Elemento</button>
		
	<hr>
	<button id="submitFormButton" onclick="submitSalvarPedido()">
		Salvar Pedido Existente
	</button>
	</form>

 <p><a href="/">Volver a tablón de Pedidos</a>
  
 </body>
 
</html>