<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/shop-homepage.css" rel="stylesheet">
</head>

<body>
 <h1>Lista de Pedidos</h1>
 
{{#alertMessage}}
 <script type="text/javascript">
 	alert("{{alertMessage}}");
 </script>
{{/alertMessage}}

<ul>
	{{#pedidos}}
		<li><a href="/pedido/{{id}}">{{titulo}}</a></li>
	{{/pedidos}}
</ul>

{{^pedidos}}
    <p>Todavia no hay pedidos que mostrar.</p>
{{/pedidos}}

<form action="/nuevoPedido.html" method="get">
	<button>Registrar Nuevo Pedido</button>
</form>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>