<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
 <h1>Lista de Pedidos</h1>
 
{{#alertMessage}}
 <script type="text/javascript">
 	alert("{{alertMessage}}");
 </script>
{{/alertMessage}}

<ul>
	{{#pedidos}}
		<li><a href="/pedido/{{id}}">{{titulo}}</a></li>
	{{/pedidos}}
</ul>

{{^pedidos}}
    <p>Todavia no hay pedidos que mostrar.</p>
{{/pedidos}}

<form action="/nuevoPedido.html" method="get">
	<button>Registrar Nuevo Pedido</button>
</form>

</body>
</html>