<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../TiendaOnline.js"></script>
</head>

<body>

<h1>Mostrando Pedido</h1>

<p>Título: {{pedido.titulo}}
 
{{#pedido.elementos}}
	<ul>
		<li>{{texto}}</li>
	</ul>
{{/pedido.elementos}}

{{^pedido.elementos}}
    <p>Todavía no hay <i>elementos</i> que mostrar.</p>
{{/pedido.elementos}}

<button onclick=confirmarBorrarPedido({{pedido.id}})>Borrar Pedido</button>

<a href="/Borrar/{{pedido.id}}" id="borrar-pedido-link" style="visibility: hidden"></a>

 <p><a href="/">Volver a tablón de Pedidos</a>
  
 </body>
 
</html>