<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../TiendaOnline.js"></script>
    
    <style>
    	.strike{ text-decoration: line-through; }
    </style>
</head>

<body>

{{#alertMessage}}
 <script type="text/javascript">
 	alert("{{alertMessage}}");
 </script>
{{/alertMessage}}

	<h1>Mostrando Pedido</h1>

	<p>Título: {{pedido.titulo}}
 
	<hr>
	<h2 id='ListaElementosHeader'>Elementos del pedido</h2>
	<p id=ListaElementosText></p>
	<ul id='ListaElementos'></ul>
 
{{#pedido.elementos}}
		<script>addToListaElementos("{{texto}}");</script>
		{{#strike}}
			<script>$('ul#ListaElementos > li > input').toggleClass('strike');</script>
		{{/strike}}
{{/pedido.elementos}}

<script>
	$('ul#ListaElementos > li > input').prop("disabled", true);
	$('ul#ListaElementos > li > button').prop("disabled", true);
</script>

<hr>
<a href="/Borrar/{{pedido.id}}" id="borrar-pedido-link" style="visibility: hidden"></a>
<button onclick=confirmarBorrarPedido({{pedido.id}})>Borrar Pedido</button>

<hr>
<a href="/Editar/{{pedido.id}}" id="editar-pedido-link" style="visibility: hidden"></a>
<button onclick=editarPedido({{pedido.id}})>Editar Pedido</button>

<hr>
<a href="/">Volver a tablón de Pedidos</a>
  
</body>
 
</html>