<html>

<head>

<script type="text/javascript">

function confirmarBorrarPedido() {
	if (confirm("¿Borrar Pedido? [id=" + document.getElementById("pedido.id").value + "]")) {
		document.getElementById("borrar-pedido-link").click();
	}
}
</script>

</head>

<body>

<h1>Mostrando Pedido</h1>

<p>Titulo: {{pedido.titulo}}
 
{{#pedido.elementos}}
	<ul>
		<li>{{texto}}</li>
	</ul>
{{/pedido.elementos}}

{{^pedido.elementos}}
    <p>Todavia no hay <i>elementos</i> que mostrar.</p>
{{/pedido.elementos}}

<button onclick=confirmarBorrarPedido()>Borrar Pedido</button>
<form id="BorrarForm" method="get" action="Borrar">
	<input type="hidden" id=pedido.id name="id" value="{{pedido.id}}">
</form>

<a href="/Borrar/{{pedido.id}}" id="borrar-pedido-link" style="visibility: hidden"></a>

 <p><a href="/">Volver a tablon de Pedidos</a>
  
 </body>
 
</html>